@WIDTH: 600px;
@BUTTON_BORDER: 2px;

body {
  -webkit-font-smoothing: antialiased;
  background-color: #000000;
  color: #FFFFFF;
  /* only matters for small displays */
  margin: 0px 10px 0px 10px;
}

h1, h2, h3 {
  color: #FFFFFF;
}

h1 {
  font-size: 2.5em;
  font-weight: 500;
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1024px;
  padding: 0px;
}
.icons {
  img { margin: 8px }
  span {
    margin-left: 15px;
    font-size: 16px;
  }
}
.member-icon {
  margin: 8px;
}

.descriptor {
  font-weight: 600;
  font-size: 16px;
  margin-right: 20px;
}

.edit-delete-cancel-save {
  .delete {
    flex: 1;
    color: rgb(200,0,0);
    border-color: rgb(200,0,0);
    border-width: @BUTTON_BORDER;
  }
  .aligner {
    flex: 6;
    .cancel-save {
      max-width: @WIDTH;
      display: flex;
      justify-content: flex-end;
      .cancel {
        border-width: @BUTTON_BORDER;
        margin-left: 10px;
        margin-right: 10px;
      }
      .save {
        color: rgb(97, 157, 249);
        border-color: rgb(97, 157, 249);
        border-width: @BUTTON_BORDER;
      }
    }
  }
}

.create {
  color: rgb(22, 228, 67);
  border-color: rgb(22, 228, 67);
  border-width: @BUTTON_BORDER;
}

.editor {
  width: @WIDTH;
}

.space {
  border-width: thin;
  border-style: solid;
  border-radius: 3px;
  border-color: #DDDDDD;
  &.featured { border-color: rgb(181, 111, 6) }
  &.welcome  { border-color: rgb(111, 159, 30) }
  &.private  { border-color: rgb(122, 122, 122) }

  .title {
    font-weight: 500;
    padding: 10px;
    padding-left: 15px;
    color: rgb(51, 51, 51);
    background-color: #FFFFFF;
    &.featured { background-color: rgb(237, 147, 11) }
    &.welcome  { background-color: rgb(158, 228, 43) }
    &.private  { background-color: rgb(167, 167, 167) }

    .name {
      font-size: 16px;
      padding-right: 5px;
    }
  }

  .space-text {
    padding: 15px;
    margin: 0px;
  }

  /** Button Classes **/
  .abtn {
    margin: 15px;
    margin-left: 0px;
    display: inline-block;
    border-width: @BUTTON_BORDER;
    border-width: @BUTTON_BORDER;
    &.edit {
      color: #ffffff;
    }

    &.delete {
      color: rgb(200,0,0);
      border-color: rgb(200,0,0);
    }
  }
}
