body {
  -webkit-font-smoothing: antialiased;
  background-color: #f5f5f5;
  /*color: #FFFFFF;*/
  /* only matters for small displays */
  margin: 0px 10px 0px 10px;
}
h1 {
  font-size: 2.5em;
  font-weight: 500;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
a {
  text-decoration: none;
  color: #09f;
}
a:hover {
  text-decoration: underline;
}
.container {
  max-width: 1024px;
  padding: 0px;
}
.icons img {
  border-radius: 24px;
  margin: 8px;
  margin-right: 0px;
}
.icons span {
  margin-left: 15px;
  font-size: 16px;
}
.page-title {
  position: absolute;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(181, 181, 181, 1);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  rgb(13, 11, 17);
}
.descriptor {
  font-weight: 600;
  font-size: 16px;
  margin-right: 20px;
}
.list-group-item {
  color: #000;
}
.edit-delete-cancel-save .delete {
  flex: 1;
  border-width: 2px;
}
.edit-delete-cancel-save .aligner {
  flex: 6;
}
.edit-delete-cancel-save .aligner .cancel-save {
  max-width: 600px;
  display: flex;
  justify-content: flex-end;
}
.edit-delete-cancel-save .aligner .cancel-save .cancel {
  border-width: 2px;
  margin-left: 10px;
  margin-right: 10px;
}
.edit-delete-cancel-save .aligner .cancel-save .save {
  border-width: 2px;
}
.create {
  color: #16e443;
  border-color: #16e443;
  border-width: 2px;
}
.editor {
  width: 600px;
}
.space {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  color: inherit;
  padding: 6px;
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
  background: #fff;
  margin: 130px 0 40px 0;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
.space.starred {
  border-color: #b56f06;
}
.space.public {
  border-color: #6f9f1e;
}
.space.private {
  border-color: #7a7a7a;
}
.space .title {
  font-weight: 500;
  padding: 10px;
  padding-left: 15px;
  color: #333333;
  background-color: #FFFFFF;
}
.space .title.starred {
  /*background-color: #ed930b;*/
}
.space .title.public {
  /*background-color: #9ee42b;*/
}
.space .title.private {
  background-color: #a7a7a7;
}
.space .title .name {
  font-size: 16px;
  padding-right: 5px;
}
.space .space-text {
  padding: 15px;
  margin: 0px;
}
.space .abtn {
  margin: 15px;
  margin-left: 0px;
  display: inline-block;
  border-width: 2px;
}
.space .abtn.edit {
  color: #ffffff;
}
.space .abtn.delete {
  color: #c80000;
  border-color: #c80000;
}
