body {
  max-width: 1000px;
  -webkit-font-smoothing: antialiased;
  background-color: #000000;
  color: #FFFFFF;
  /* only matters for small displays */
  margin-left: 10px;
  margin-rigth: 10px;
}
h1,
h2,
h3 {
  color: #FFFFFF;
}
h1 {
  font-size: 2.5em;
  font-weight: 500;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
a {
  text-decoration: none;
  color: #09f;
}
a:hover {
  text-decoration: underline;
}
.space {
  border-width: thin;
  border-color: #DDDDDD;
  border-radius: 3px;
  border-style: solid;
}
.space .title {
  padding: 10px;
  padding-left: 15px;
  background-color: #FFFFFF;
  color: #333333;
  font-weight: 500;
}
.space .title .name {
  font-size: 16px;
  padding-right: 5px;
}
.space .text {
  padding: 15px;
}
.space .edit {
  margin: 15px;
}
